.button_wrapper {
	position: relative;
	cursor: pointer;
  padding: 1rem 2.5rem;
	background-color: var(--color-primary);
	border-radius: 1rem;
	overflow: hidden;
	transition: 300ms ease-in-out;
  outline: none;
  border: none;
}

.button_wrapper:hover {
	transform: scale(105%);
}

.button_wrapper:active:hover {
	transform: scale(95%);
}

.button_wrapper > span {
  font-family: var(--font-family);
	color: #f4ffff;
	font-size: 2rem;
	font-weight: 500;
}