.layout {
  background: red
}

.header {
  background-image: url(../img/header.png);
  background-color: var(--color-primary);
  background-position: center center;

}
.header__logo {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
