/* UTILS && GLOBALS */
:root {
  --media-sm: 576px;
  --media-md: 768px;
  --media-lg: 992px;
  --media-xl: 1280px;
  --media-xxl: 1400px;
  --color-primary: #00b19d;
  --color-secondary: #00535e;
  --color-third: #00d5bd;
  --color-main-gray: #716f87;
  --font-family: "Montserrat", "Roboto", sans-serif;
}

/* Global config */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: var(--font-family);
  font-size: 62.5%;
}
p {
  color: var(--color-main-gray);
  font-size: 1.6rem;
}
.app {
  display: grid;
  padding-bottom: 4rem;
}

/* GRID */
.fluid-container {
  display: grid;
  padding: 0 20px;
  width: 100%;
}
.container {
  justify-self: center;
  padding: 0 20px;
  width: 100%;
  max-width: var(--media-xxl);
}
.align-x {
  justify-self: center;
}

/* Text */
.text-title,
.text-subtitle {
  color: var(--color-secondary);
  font-weight: 400;
}
.text-title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}
.text-subtitle {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.text-bold {
  font-weight: 500;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-primary {
  color: var(--color-primary)
}
